@model IEnumerable<Dominio.Partido>

@{
    ViewData["Title"] = "Listado de partidos";
    List<Dominio.Partido> listaPartidos = Model.ToList();
}

<table class="table">
    <tr>
        <td><h3>Fecha del partido</h3></td>
        <td><h3>Selección 1</h3></td>
        <td><h3>Selección 2</h3></td>
    </tr>

    @foreach (var partido in listaPartidos)
    {
        <tr>
            <td>@partido.Fecha</td>
            <td>@partido.Seleccion1.Pais.Nombre</td>
            <td>@partido.Seleccion2.Pais.Nombre</td>

            @{
                if (!partido.Finalizado)
                {
                    <td>@Html.ActionLink("Finalizar", "DetallesPartido", "Operador", new { id = partido.Id })</td>
                }
                else
                {
                    <td>Finalizado</td>
                }
            }
        </tr>
    }
</table>
