@*La vista predeterminada de error. Aparece cuando un usuario intenta acceder por URL a una pagina a la que no tiene acceso.*@

@{ 
    ViewData["Title"] = "No se puede acceder por URL";
}

<h1>¡¡¡No se puede acceder por URL a las páginas!!!</h1>