<h1>Iniciar Sesión</h1>

<form method="post">

    Email:<br />
    <input name="Mail" /><br />

    Password:<br />
    <input name="Password" /><br />

    <input type="submit" value="Iniciar Sesión" />


</form>

@ViewBag.msg