@*No se usa. Viene por defecto con el proyecto pero la dejamos para no tener errores al borrarla.*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
